.add-label-button {
    opacity: 0.3;
}

.add-label-button:hover {
    opacity: 1;
}

.js-add-note-button {
    border: none;
}

.js-task-due-time {
    border: none;
}

.js-due-date {
    float: right;
    margin-right: 27px;
}
.js-datepicker {
    border: 0;
    float: right;
    width: 112px;
}
.js-remove-task {
    float: right;
    margin-right: -15px;
    margin-top: -15px;
}
